{% extends 'main_master.html' %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card p-4">
                            <p>If your account is not verified , please fill in the form below to resend verification
                                email</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_div }}
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Resend Activation Email</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}