{% extends 'dashboard_main_master.html' %}
{% block content %}


    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
        <h1 class="h2">Confirm Deletion</h1>
        <p>Are you sure you want to delete <strong>{{ post }}</strong>? This action cannot be undone.</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
        </form>
    </main>

{% endblock %}