    <header class="site-nav mt">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <div class="row g-0 align-items-center">
                        <div class="col-2">
                            <a href="{% url 'account:user-dashboard' %}" class="logo">Dashboard</a>
                        </div>
                        <div class="col-8 text-center">
                            <ul class="site-menu mx-auto">
                                <li><a href="{% url 'homepage' %}">Home</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="{% url 'account:user-logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>